* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #f2c14e;
    --winning-blocks:#2d414b;
    --line_poistion :0%;
    --line_rotation : rotate(-90deg);
    --line_horizontal :33%;
}

body {
    color: var(--orange);
    font-family: 'Finget Paint', cursive;
}

h1{
    font-size: 54px;
    text-transform: uppercase;
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
  
}

.box:nth-child(3n) {
    border-right: none;

}

.box:nth-child(6) ~ .box {
    border-bottom: none;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.strikethrough-100p{
    
    position: relative;
    text-align: center;
  }

.strikethrough-100p:before {
    position: absolute;
    content: "";
    left: calc(var(--line_horizontal)* -1 );
    top: var(--line_poistion);
    right: var(--line_horizontal);
    border-top: 6px solid;
    border-color: inherit;
    color: red;
  
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:var(--line_rotation);
  }

